body{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin: 150px auto;
    width: 740px;

}

#page{
    box-shadow: 0px 0px 5px blue;
    background: #F87A7A;
    float: left;
    width: 720px;
    padding: 10px;
}

nav{
    float: left;
    width: 150px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    margin: 5px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 20px;
}

nav ul li:hover{
    background: orange;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li{
    margin: 5px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 152px 304px 228px 152px;
    border-style:solid;
    border-width: 3px;
    border-color: brown;
}

section{
    float: left;
    width: 570px;
}

article{
    margin-bottom: 5px;
    padding: 10px;
    border-radius:10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: olive;
}

p{
    text-align:justify;
}

footer{
    border-color: olive;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px;
    float: right;
    text-align: center;
    width: 550px;
    padding: 10px;
}